@inject IJSRuntime jSRuntime



<div class="mt-2">
    <label>@Label</label>
    <div>
        <InputFile OnChange="@OnChange" accept=".jpg,.jpeg,.png" @ref="inputFile" />
    </div>
</div>

<div class="mt-3">
    @if (showPreview)
    {
        <div class="m-10">
            <img @ref="elementReference" />
        </div>
    }

    @if (ImageURL is not null)
    {
        <div class="m-10">
            <img @ref="elementReference" />
        </div>
    }
</div>





@code {
    private string Id { get; set; } = Guid.NewGuid().ToString();

    [Parameter] public string Label { get; set; } = "Imagen";
    [Parameter] public string? ImageURL { get; set; }
    [Parameter] public EventCallback<IBrowserFile> SelectImage { get; set; }

    private InputFile? inputFile;
    private ElementReference elementReference;
    private bool showPreview = false;

    public async Task OnChange(InputFileChangeEventArgs e)
    {
        ImageURL = null;
        showPreview = true;
        StateHasChanged();

        await jSRuntime.InvokeVoidAsync("showImagePreview", inputFile!.Element, elementReference);
        await SelectImage.InvokeAsync(e.File);
    }


}
