@inject IJSRuntime jSRuntime

@if (Books is null)
{
    <Loading>Cargando Libros...</Loading>
}
else
{

    <div class="my-4">
        <div class="row g-4 text-center">

            <GenericList List="Books">
                <ChildContent>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <BooksListItem @key="context.Id" Book="context">
                            <BPButton class="btn btn-danger" OnClick="@(() => RemoveBook(context))">Eliminar</BPButton>
                            <BPButton class="btn btn-success">Editar</BPButton>
                        </BooksListItem>

                    </div>
                </ChildContent>
            </GenericList>

        </div>
    </div>
}





@code {
    [Parameter, EditorRequired] public List<Book>? Books { get; set; }

    private async Task RemoveBook(Book book)
    {
        string message = $"¿Desea eliminar el libro {book.Title}?";

        var confirm = await jSRuntime.Confirm(message);

        if (confirm)
        {
            Books!.Remove(book);
        }

    }

}
