<div class="my-2">
    <button class="@CssClasses" @onclick="OnClick" type="@ButtonType.ToString()" disabled="@Disabled"> @ChildContent </button>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; } = @<text>Sumbit</text>;
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public BPButtonType ButtonType { get; set; } = BPButtonType.Submit;
    [Parameter] public bool Disabled { get; set; } = false;

    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClasses
    {
        get
        {

            var externalCssClasses = string.Empty;
            
            if (AdditionalAttributes is not null && AdditionalAttributes.ContainsKey("class"))
            {
                externalCssClasses = AdditionalAttributes["class"].ToString()!;
            }


            return string.Join(" ", externalCssClasses);
        }
    }
}
